<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="metral.julien.channelmessaging">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChannelListActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/channels"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MessageActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/messageChannel"
            android:parentActivityName=".ChannelListActivity" />
        <activity
            android:name=".ChannelListFragmentActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/channels"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".FriendsActivity"
            android:label="@string/friends"
            android:parentActivityName=".ChannelListActivity" />
        <activity
            android:name=".PrivateMessagesActivity"
            android:label="@string/title_activity_private_messages"
            android:parentActivityName=".FriendsActivity" />
        <activity android:name=".GPSActivity"></activity>
    </application>

</manifest>
